                        <!--</div>
                    <!-- /.col-lg-12 -->
                <!--</div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery-1.12.4.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="vendor/metisMenu/metisMenu.min.js"></script>

    <% if (title === '最新資訊' || title === '裝置列表' || title === '裝置類型') { %>
        <!-- JQUERY DataTables-->
        <script type="text/javascript" src="vendor/DataTables-1.10.13/media/js/jquery.dataTables.min.js"></script>
        <!-- Button DataTables-->
        <script type="text/javascript" src="vendor/DataTables-1.10.13/extensions/Buttons/js/dataTables.buttons.min.js"></script>
         <!-- Button DataTables-->
        <script type="text/javascript" src="vendor/DataTables-1.10.13/extensions/Buttons/js/buttons.flash.min.js"></script>
        <!-- JZIP -->
        <script type="text/javascript" src="vendor\DataTables-1.10.13\jszip.min.js"></script>
        <!-- PDF MAKE -->
        <script type="text/javascript" src="vendor\DataTables-1.10.13\pdfmake.min.js"></script>
        <!-- VFS FONT -->
        <script type="text/javascript" src="vendor\DataTables-1.10.13\vfs_fonts.js"></script>
        <!-- BUTTON HTML5 -->
        <script type="text/javascript" src="/js/bootstrap-waitingfor.min.js"></script>
        <!-- WAITING DIALOG -->
        <script type="text/javascript" src="vendor/DataTables-1.10.13/extensions/Buttons/js/buttons.html5.min.js"></script>
    <% } %>

    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
    <!--  JSCal2-1.7-->
    <script type="text/javascript" src="/vendor/JSCal2-1.7/js/jscal2.js"></script>
    <script type="text/javascript" src="/vendor/JSCal2-1.7/js/lang/b5.js"></script>
    <!-- Self-define -->
    <% if (title === '首頁') { %>
        <!-- Morris Charts JavaScript -->
        <script src="vendor/raphael/raphael.min.js"></script>
        <script src="vendor/morrisjs/morris.min.js"></script>
        <script src="data/morris-data.js"></script>
    <% } else if (title === '最新資訊') { %>
        <script type="text/javascript" src="js/myIndex.js" ></script>
    <% } else if(title === '裝置列表') { %>
        <script type="text/javascript" src="js/myDevice.js" ></script>
    <% } else if(title === '帳戶管理'){ %>
        <script type="text/javascript" src="js/myAccount.js" ></script>
    <% } else if(title === '裝置類型'){ %>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
        <script type="text/javascript" src="js/myMap.js" ></script>
    <% } %>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>

</body>

</html>